

 {{#each blogs as |blog|}}
   <div class="row">
     <div class="col-lg-4">
      <a class="btn btn-primary" href="/blogs/blog/{{id}}" aria-expanded="false">{{title}}</a>
  </div>
   <div class="col-lg-4">
      <a class="btn btn-primary" href="/blogs/blog/{{id}}" aria-expanded-"false">{{blogby}}</a>
    </div>
    <div class="col-lg-4">
      <a class="btn btn-primary" href="/blogs/blog/{{id}}" aria-expanded="false">{{createdate}}</a>
     </div>
    </div>
  {{/each}}

<br>
<br>
<br>
<br>

 <a class="btn btn-primary" href="/blogs/blog" aria-expanded="false">Add New Blog</a>