

 {{#each blogs as |blog|}}
   <div class="row">
      <div class="col-xs-6 col-md-3">
      <a class="btn btn-primary" href="/blogs/blog/{{id}}" aria-expanded="false">{{title}}</a>
  </div>
    <div class="col-xs-6 col-md-3">
      <a class="btn btn-primary" href="/blogs/blog/{{id}}" aria-expanded-"false">{{blogby}}</a>
    </div>
     <div class="col-xs-6 col-md-3">
      <a class="btn btn-primary" href="/blogs/blog/{{id}}" aria-expanded="false">{{createdate}}</a>
     </div>
    </div>
  {{/each}}






